spring:
  datasource:
    url: jdbc:h2:file:./notesdb
  h2:
    console:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    root: WARN
    com.app.notes: INFO

